@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
.container-lg {
    max-width: 1140px;
}
nav {
   
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    height: 80px;
    background: #ffff;
}
a.navbar-brand{
    padding-right: 60px;
    
}
a.nav-link{
    padding: 28px  0px;
    margin: 0 10px;
    color: #000;
}
.btn.btn_1{
    width: 103px;
    height: 44px;
    border-radius: 20px;
}
span {
    margin-left: 2px;
    padding: 28px;
    cursor: pointer;
}
a.nav_A {
    color: #000;
    padding: 28px 0px;
    text-decoration: none;
}